html,
body {
    height: 100%;
}

body {
    background-color: black;
    color: white;
}
.wrap:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url('/images/background.png');
    /*background-size:cover;*/
    width: 100%;
    height: 100%;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
@media(max-width: 767px) {
    .text-sm-center {
        text-align: center;
    }
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -95px;
    padding: 0 0 60px;
    overflow: auto;
    position: relative;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.wrap > .container-fluid {
    padding: 150px 0 20px;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.footer {
    min-height: 60px;
    background-color: #222;
    color: #9d9d9d;
    border-top: 1px solid #2E3842;
    padding-top: 20px;
}

.footer > .container-fluid {
    padding: 0 50px;
}

.footer .nav-footer > li {
    display: inline;
}

.footer .nav-footer > li > a {
    position: inherit;
    display: inherit;
    padding: 0;
    color: #9d9d9d;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
}
@media(max-width: 767px) {
    .footer .nav-footer {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.footer .nav-footer > li.active > a {
    color: white;
}
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
    color: white;
}

.site-index-jumbotron h2 {
    font-size: 3em;
}
.site-index-jumbotron h1 {
    font-size: 6em;
}
@media(max-width:767px) {
    .site-index-jumbotron h2 {
        font-size: 1.2em;
    }
    .site-index-jumbotron h1 {
        font-size: 3em;
    }
}
.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar {
    height: 130px;
    border-bottom: 1px solid #2E3842
}
@media(min-width: 767px) {
    .navbar > .container-fluid {
        padding: 0 50px;
    }
}

.navbar .navbar-brand img {
    height: 100px;
}
.navbar .nav > li > a{
    transition: border-bottom-color 0.4s ease 0s;
    border-bottom: 1px solid #2E3842;
}
@media(min-width: 767px) {
    .navbar .nav > li.active > a,
    .navbar .nav > li > a:hover {
        border-bottom: 1px solid white;
    }
}
.navbar .nav li a {
    text-transform: uppercase;
}
@media(min-width: 767px) {
    .navbar .nav li a {
        line-height: 99px;
        font-size: 20px;
    }
}
.navbar-nav {
    margin: 0;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
}
/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.navbar-header {
    height: 129px;
}
.navbar-collapse {
    background-color: #222;
}
.img-thumbnail {
    background-color: #222;
    border-color: #2E3842;
}
.site-index-jumbotron {
    text-transform: uppercase;
    padding: 100px 50px;
}
.site-index-jumbotron .news-item {
    margin-top: 5px;
    margin-bottom: 5px;
}
.site-index-jumbotron .news-item .img-thumbnail {
    max-height: 100px;
}


.site-index-news {
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
}
.site-index-news h3 {
    margin-bottom: 40px;
}
.site-index-news .news-item {
    margin-top: 5px;
    margin-bottom: 5px;
}
.site-index-news .news-item .img-thumbnail {
    max-height: 150px;
}


.site-index-partners {
    background-color: #222;
    padding-top: 50px;
    padding-bottom: 50px;
}
.site-index-partners h3 {
    margin-bottom: 40px;
}
.site-index-partners .partners-item {
    margin-top: 5px;
    margin-bottom: 5px;
}
.site-index-partners .partners-item .img-thumbnail {
    max-height: 50px;
    background-color: transparent;
    border-color: transparent;
}


.site-index-matches {
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
}
.site-index-matches h3 {
    margin-bottom: 40px;
}
.site-index-matches .matches-choice-btn-container {
    padding-bottom: 50px;
}
.site-index-matches .matches-item {
    height: 100px;
}
.site-index-matches .matches-item .img-thumbnail {
    max-height: 80px;
}
.site-index-matches .matches-item .score {
    font-size: 4em;
}


.site-index-streams {
    text-transform: uppercase;
    background-color: #222;
    padding-top: 50px;
    padding-bottom: 50px;
}
.site-index-streams h3 {
    margin-bottom: 40px;
}


.site-index-players {
    padding-top: 50px;
    padding-bottom: 50px;
}
.site-index-players h3 {
    text-transform: uppercase;
    margin-bottom: 40px;
}
.site-index-players .players-choice-btn-container {
    padding-bottom: 50px;
}

.site-index-players .players-item {
    height: 100px;
}
.site-index-players .players-item .img-thumbnail {
    max-height: 200px;
}
.site-index-players .players-item .btn-default {
    background-color: transparent;
    border-color: transparent;
    color: white;
}


.site-index-support {
    background-color: #222;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
}
.site-index-support h3 {
    margin-bottom: 40px;
}
.site-index-support .support-item {
    margin-top: 5px;
    margin-bottom: 5px;
}
.site-index-support .support-item .img-thumbnail {
    max-height: 50px;
    background-color: transparent;
    border-color: transparent;
}